{% load static %}

{% load socialaccount %}


<link rel="stylesheet" href="{% static 'polls/style.css' %}">

<header class="main-header">
  {% if user.is_authenticated %}
    <a href="{% url 'polls:logout' %}">Logout</a>
  {% else %}
    <a href="{% url 'polls:login' %}">Login</a>
  {% endif %}
  <a href="/admin">Admin</a>
  <a href="/google/login/?next=/">
    Login with Google
  </a>
</header>

{% if user.is_authenticated %}
  {% if latest_question_list %}
  <main class="main-content">
    <ul>
      {% for question in latest_question_list %}
      <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
      {% endfor %}
    </ul>
    {% else %}
    <p>No polls are available.</p>
  </main>
  {% endif %}
{% endif %}